* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/baggrund1.jpg);
    background-size: 100%;
}

/*NAVIGATIONSBAR lavet med inspiration fra en udleveret kode skrevet af Michelle*/
header {
    width: 100%;
    padding-right: 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    padding-left: 7%;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo-burger {
    color: #442304;
}

#logo img {
    width: 100%;
}

#logo,
#main-nav a {
    color: #442304;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.6em;
    font-family: 'avenir next';
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/*NAV SLUT*/
/*TEKSTER*/
p {
    font-family: 'avenir next';
    color: #442304;
    margin: 2% 10% 0 10%;
}

h1 {
    font-family: 'avenir next';
    color: #442304;
    font-weight: 500;
    font-size: 20px;
}

/*INDHOLD BEGYNDER*/
/*FORSIDE*/
#intro {
    text-align: center;
    margin-top: 10%;
}

#produkt {
    display: block;
    margin: 6% auto;
    width: 65%;
    box-shadow: 0px 0px 25px 1px rgba(252, 119, 243, 0.65);
}

#forsidep {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

#pil {
    width: 10%;
    margin: 2% 8% 0 80%;
}

#salgstale1 {
    margin: 10% 5%;
    text-align: center;
    font-family: 'Zeyada';
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
}

/*TE-VIDEN*/
#medovate {
    background-color: #f0015e;
    padding: 10% 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
}

#medovate img {
    display: block;
    margin: 0 auto;
    padding-bottom: 3%;
    width: 50%;
}

#medovah {
    margin: 0 10%;
    color: white;
    font-size: 18px;
}

ol {
    display: block;
    margin: 0 auto;
    padding: 4% 15% 0 15%;
    font-family: 'avenir next';
    color: white;
    font-size: 16px;
}

#sortte {
    position: relative;
    margin-bottom: 10%;
}

#sortte img {
    width: 60%;
    position: absolute;
}

#sortte h1 {
    text-align: center;
    padding-top: 24%;
}

/*FAIRTRADE*/
#fairtrade {
    background-color: #b9bd33;
    padding: 10% 0 0 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
}

#fairtrade h1 {
    text-align: center;
    color: white;
}

#salgstale2 {
    margin: 2% 5% 0 5%;
    text-align: center;
    color: white;
    font-family: 'Zeyada';
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
}

#hvid {
    color: white;
}

#kvinde1 {
    width: 100%;
    padding-top: 6%;
    margin-bottom: -1.1%;
}

#kvinde2 {
    display: none;
}

#produktion {
    padding: 10% 0 0 0;
}

#produktion h1 {
    text-align: center;
}

#produktion img {
    width: 60%;
    margin-left: 40%;
    margin-bottom: -1.1%;
}

/*BUTIK*/
#butik {
    padding: 10% 0;
    background-color: #ff8a00;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
}

#butik h1 {
    text-align: center;
    color: white;
}

#hide {
    display: none;
}

#produktsalg {
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

#farve {
    display: block;
    margin: 5% auto;
    background-color: #eaeaea;
    width: 80%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    padding-bottom: 5%;
}

#flex1 {
    display: flex;
    justify-content: space-between;
}

#flex1 p {
    margin: 2% 7%;
}

#antal {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 2% 0 2% 0;
}

#flex2 {
    display: flex;
    justify-content: space-between;
}

#flex2 p {
    margin: 2% 15% 5% 15%;
    color: white;
}

#streg {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 1.5px;
    background-color: #d37710;
}

#betaling {
    background-color: #f0015e;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3% 0;
    color: white;
    font-family: 'avenir next';
    box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.2);
}


/*FOOTER*/
footer {
    padding: 10% 0 5% 0;
}

footer h1 {
    text-align: center;
}

.ikoner {
    width: 8%;
    height: 100%;
    margin: 0 5%;
}

footer div {
    display: flex;
    margin: 5%;
}

footer p {
    margin: 0;
}

#some {
    display: none;
}

.logoer {
    width: 10%;
    height: 100%;
}

#insta {
    margin-left: 38%;
    margin-right: 5%;
}

/*MEDIA QUERY MOBILE */
@media all and (max-width: 799px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo img {
        width: 50%;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        color: #442304;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
}

/*MEDIA QUERY TABLET AND ABOVE*/
@media all and (min-width: 800px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger {
        margin: 0;
    }

    #logo img {
        padding-left: 7%;
        width: 70%;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
        font-size: 1.4em;
        line-height: 1.8em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }

    /*NAV SLUT*/
    /*TEKSTER*/
    p {
        margin: 2% 10% 0 10%;
        font-size: 26px;
    }

    h1 {
        font-size: 30px;
    }

    /*INDHOLD STARTER*/
    #intro {
        margin-top: 4%;
    }

    #produkt {
        margin: 4% auto;
        width: 54%;
    }

    #forsidep {
        font-size: 42px;
    }

    #pil {
        position: absolute;
        margin-top: -6%;
    }

    #salgstale1 {
        font-size: 55px;
        line-height: 55px;
        margin: 15% 10% 10% 10%;
    }

    /*TE-VIDEN*/
    #medovah {
        font-size: 30px;
        text-align: center;
    }

    ol {
        padding-left: 20%;
        font-size: 26px;
    }

    #sortte h1 {
        padding-top: 26%;
    }

    /*FAIRTRADE*/
    #salgstale2 {
        margin: 0 8%;
        font-size: 75px;
        line-height: 75px;
    }

    #kvinde1 {
        padding-top: 2%;
    }

    #kvinde2 {
        display: none;
    }

    #produktion img {
        margin-bottom: -0.5%;
    }

    /*BUTIK*/
    #farve {
        width: 70%;
    }

    #streg {
        width: 60%;
    }

    #flex2 p {
        margin: 2% 20% 5% 20%;
    }

    #betaling {
        font-size: 28px;
        width: 70%;
    }

    /*FOOTER*/
    .ikoner {
        width: 6%;
    }

    .logoer {
        width: 8%;
    }

    #insta {
        margin-left: 40%;
    }
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
    header {
        flex-direction: row;
        align-items: center;
    }

    #main-nav a {
        margin: 0 1em;
    }

    /*TEKSTER*/
    p {
        font-size: 20px;
        line-height: 32px;
    }

    h1 {
        font-size: 24px;
    }

    /*INDHOLD STARTER*/
    body {
        background: url(../images/baggrund2.jpg);
    }

    #intro {
        position: absolute;
        margin: 10% 0 0 66%;
    }

    #produkt {
        margin: 3% 0 0 20%;
        width: 30%;
        height: 50%;
    }

    #forsidep {
        font-size: 38px;
        line-height: 45px;
        margin: 20% 0 0 10%;
    }

    #forsideflex {
        display: flex;
    }

    #pil {
        margin: 40% 0 0 90%;
        width: 4%;
    }

    #salgstale1 {
        line-height: 70px;
        margin: 10%;
    }

    /*TE-VIDEN*/
    #medovate {
        padding: 5% 0;
    }

    #medovate img {
        float: right;
        width: 30%;
        margin-right: 10%;
        margin-top: 2%;
    }

    #medovah {
        font-size: 24px;
        margin-left: -2%;
    }

    ol {
        padding-left: 15%;
        padding-top: 2%;
        font-size: 20px;
        line-height: 40px;
    }

    #sortte {
        margin-bottom: 6%;
    }

    #sortflyt {
        margin-left: 40%;
    }

    #sortte p {
        margin-right: 12%;
    }

    #sortte img {
        width: 40%;
    }

    #sortte h1 {
        padding-top: 10%;
        margin-right: 4%;
    }

    /*FAIRTRADE*/
    #fairtrade {
        padding-top: 5%;
    }

    #fairflyt {
        margin-right: 40%;
        margin-left: 2%;
    }

    #fairtrade h1 {
        margin-bottom: 2%;
    }

    #salgstale2 {
        margin: 0 5%;
        font-size: 75px;
        line-height: 75px;
        font-weight: 600;
    }

    #hvid {
        padding: 0 4%;
    }

    #kvinde1 {
        display: none;
    }

    #kvinde2 {
        display: block;
        position: relative;
        margin-top: -25%;
        width: 100%;
    }

    #produktion {
        padding-top: 5%;
    }

    #proflyt {
        margin-left: 35%;
    }

    #produktion img {
        position: relative;
        margin-top: -10%;
        margin-bottom: -0.1em;
        width: 40%;
        margin-left: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    /*BUTIK*/

    #butik {
        margin-top: -0.1em;
        padding: 5% 0 8% 0;
    }

    #farve {
        width: 25%;
        float: right;
        margin-top: 0;
        margin-right: 20%;
        padding-bottom: 1%;
    }

    #total {
        margin-top: 5%;
        padding-right: 25%;
        padding-left: 5%;
        width: 80%;
    }

    #betaling {
        font-size: 24px;
        width: 60%;
        padding: 2% 0;
    }

    #butikh1 {
        position: absolute;
        margin-left: 28%;
    }

    #hide {
        display: block;
        color: white;
        margin: 0 20% 25% 20%;
    }

    #streg {
        height: 2px;
    }

    /*footer*/
    footer {
        padding: 5% 0 2% 0;
    }

    footer h1 {
        text-align: center;
        margin-right: 48%;
    }

    .ikoner {
        width: 3%;
        margin: 0 2%;
    }

    #tlf {
        float: right;
        position: relative;
        margin-right: 49%;
        margin-left: 0;
    }

    #tlf img {
        width: 14%;
        margin: 0 9%;
    }
    
    #email{
        margin-left: 2%;
        margin-right: 0;
    }
    
    #email img{
        width: 11%;
        margin: 0 7%;
    }

    #adresse {
        padding-right: 50%;
        margin-left: 2%;
    }

    #adresse img {
        width: 8%;
        margin: 0 3.5%;
    }

    footer div {
        margin: 2%;
    }

    #logoer {
        position: absolute;
        margin: -10% 0 0 60%;
    }

    .logoer {
        width: 20%;
        height: 100%;
    }

    #some {
        display: block;
        position: absolute;
        margin: -16.5% 0 0 60%;
    }
}
